<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.mukenia_ball">

  <uses-permission-sdk-23 android:name="android.permission.INTERNET"/>

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/NoActionBarTheme">
    <activity android:name=".LogInActivity"></activity>
    <activity android:name=".SignUpActivity"></activity>
    <activity android:name=".TeamSearchActivity"></activity>
    <activity android:name=".PlayerAndCoachSearchActivity"></activity>
    <activity android:name=".LeagueSearchActivity"></activity>
    <activity android:name=".SearchActivity"></activity>
    <activity android:name=".TeamMenuActivity"></activity>
    <activity android:name=".TeamViewActivity"></activity>
    <activity android:name=".PlayerViewActivity"></activity>
    <activity android:name=".PlayerMenuActivity"></activity>
    <activity android:name=".LeagueViewActivity"></activity>
    <activity android:name=".LeagueMenuActivity"></activity>
    <activity android:name=".MainActivity"
      android:theme="@style/NoActionBarTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <meta-data
      android:name="preloaded_fonts"
      android:resource="@array/preloaded_fonts" />
  </application>

</manifest>